:root {
        --background-color-1: #141f25;
        --background-color-2: #375464;
        --border: 1px solid var(--background-color-2);
        --handle-size: 10px;
        --bar-size: 50px;

}

.editor {
        background-color: var(--background-color-1);
        overflow: hidden;
        box-sizing: border-box;
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
}

.container {
        overflow: hidden;
        position: absolute;
}

.horizonbtal-panel {
        left: 0;
        width: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 2;
}

.horizontal-handle {
        left: 0;
        width: 100%;
        position: absolute;
        height: var(--handle-size);
        transform: translateY(-5px);
        background: transparent;
        cursor: ns-resize;
        touch-action: none;
        overflow: hidden;
        z-index: 3;
}

.horizontal-bar {
        left: 0;
        overflow: none;
        position: absolute;
        height: var(--bar-size);
        width: 100%;
}

.vertical-panel {
        top: 0;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: 2;
}

.vertical-handle {
        top: 0;
        height: 100%;
        position: absolute;
        width: var(--handle-size);
        transform: translateX(-5px);
        background: transparent;
        cursor: ew-resize;
        touch-action: none;
        overflow: hidden;
        z-index: 3;
}